@{
    ViewBag.Title = "About US";
}
<h2>@ViewBag.Title</h2>

<div>
    <h5>RentalApp Works is a leading Rental management system software design company which has Clients over APAC, Europe, and Northern USA.</h5>
    <hr />
    RentalApp Product is a leading Rental management system which is largely used by corporate companies across global and other indivuals Professionals. 
    <br />For more information please subscribe to our newsletter.
</div>
