@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    RentalApp Works<br />
    TCO, Thoraipakkam Branch, Chennai-600018. <br/>
    Tamilnadu, India.<br />
    <abbr title="Phone">P:</abbr>
    044 071852963.
</address>

<address>
    <strong>For Product Related Support:</strong>   <a href="mailto:Support@example.com">ProductSupport@RentalApp.com</a><br />
    <strong>For Marketing Reach:</strong> <a href="mailto:Marketing@example.com">ForMarketingReach@RentalApp.com</a>
</address>